<div class="footer" style="position:fixed">
    <div class="float-right">
       
    </div>
    <div>
        <strong>Copyright</strong> In-Service Compliance &copy; 2020 - @DateTime.Now.Year
    </div>
</div>
